.gif-system {
  font-size: 5vh;
  display: flex;
  flex-direction: column;
}
body {
  background-color: black;
}

.gif-system div {
  text-align: center;
}

.search-input {
  width: 70%;
  font-size: 5vh;
  height: 5vh;
  border: 1px solid green;
}

.search-input-container {
  padding: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 2px;
}

.images-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  height: 90vh;

  overflow-y: auto;

  justify-content: space-between;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 2px;
}
