
.gif-system{
	width:100vw;
	font-size:5vh;
	display: flex;
	flex-direction: column;
	
	
}

.gif-system div{
	width:100%;
	text-align: center;
}

.search-input{
  width:100%;
  font-size:5vh;
  heihgt: 5vh;
  border: 1px solid green;
  
}

.search-result-container {
  display: flex;
width: 100%;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid cian;
}


.giphy-images-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid blue;
}